Twisted==14.0.2
TxScheduling==1.1
configobj==5.0.6
crontab==0.20
autobahn==0.9.1
blinker==1.3
simplejson==3.6.3
git+https://github.com/wulczer/txpostgres.git
psycopg2==2.5.4
git+https://github.com/gtaylor/btmux_template_io.git
git+https://github.com/gtaylor/btmux_maplib.git
numpy
djangorestframework-chain==0.1.3
