# configspec.cfg
#
# This file contains configuration validation and defaults.
# DO NOT CHANGE ANY SETTINGS DIRECTLY IN THIS FILE!
# The sections and setting names below mirror what you can provide in your
# own settings file. For more details, see the settings documentation at:
# http://battlesnake.readthedocs.org/settings.html

[mux]
# The IP address or hostname of the MUX to connect to.
hostname = string
# The port on the host to connect to.
port = integer

[account]
# The name of the account the bot will try to connect as.
username = string(max=50, default=Battlesnake)
# The password to use when connecting.
password = string

[bot]
# The interval (in seconds) for sending the IDLE command. This is useful
# when the bot is located on a different host from the game. Set to 0 to disable.
keepalive_interval = float(min=0, default=30.0)
# The interval at which we loop through all active response watchers and remove
# the expired entries. This should probably never go above a few seconds.
response_watcher_expire_check_interval = float(min=0.5, default=1.0)
# If True, we generate and set a hudinfo key.
enable_hudinfo = boolean(default=False)
extra_services = list(default=list())

[commands]
inbound_tables = list(default=list('battlesnake.inbound_commands.bot_management.tables.BotManagementCommandTable'))

[triggers]
tables = list(default=list('battlesnake.triggers.examples.tables.ExampleTriggerTable'))

[timers]
tables = list(default=list('battlesnake.timers.bot_misc.tables.BotMiscTimerTable'))

#
## Optional plugins/contrib.

[hudinfo_cache]
contact_puller_interval = float(min=0.1, default=1.0)

[websocket_server]
bind_uri = string(default=ws://localhost:9000)
port = integer(default=9000)
